$backgroundColor: black;
$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: fit-content;
  background-color: beige;
  padding: 2px;
  label {
    display: flex;
    margin: auto;
    padding: 15px;
    border-radius: 45%;

    &.methods {
      span {
        margin-right: 2rem;
        padding: .3rem .7rem;
        background: #ccc;
        border-radius: 45%;

        &:hover {
          background-color: rgb(255, 255, 255);
        }

        &:active {
          transition-duration: 500ms;
          background: rgb(0, 255, 255);
        }
        &:target {
          transition-duration: 150ms;
          background: #fff;
        }


      }
    }
  }
}