$backgroundColor: #f5f5f5;
$backgroundImage: url("../img/15410.jpg");
html,
body {

  height: 100%;
  margin: 0;
  padding: 0;
}

section{
  background-color: rgba(250, 235, 215, 0.858);
  width: 30%;
  color:black;
  padding: 10px;

}


body {
  // background-image: url("../img/fireplace.jpg");
  // background-size:contain;
  height: 100%;

  #root {
    display: flex;
    flex-direction: column;
    height:960px;
    background-color: beige;
    background-image: url("../img/15410.jpg");
  background-size:cover;
  background-repeat:no-repeat;

  }

  footer {
    background: darken($backgroundColor, 50);
    border-top: 1px solid #eee;
    padding: 1em 3em;
    margin: 1000;
  }

  header {
    background: darken($backgroundColor, 75);

    color: #eee;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}
#main{
  width: 450px;
  background-color: rgba(0, 255, 255, 0.294);
  align-content: flex-start;
  align-self: center;
  
  border-color: #f5f5f5;
  border:5px;
}
#resultsSection{
  // inline-size:min;
  width: max-content !important;
  background-color: rgb(149, 195, 195);
  padding: 0px;
  height: min-content;
  // overflow-x: auto;
  overflow-y: auto;
}
pre{
  width: max;
  height:500px;
}