$backgroundColor: #f5f5f5;
$backgroundImage: url("../img/fireplace.jpg");
html,
body {
  // background-image: url("../img/fireplace.jpg");
  // background-size:contain;
  height: 100%;
  margin: 0;
  padding: 0;
}

section{
  background-color: rgba(250, 235, 215, 0.858);
  width: 33%;
  color:black;
  padding: 10px;
  border-radius: 3%;
}


body {
  // background-image: url("../img/fireplace.jpg");
  // background-size:contain;
  height: 100%;

  #root {
    display: flex;
    flex-direction: column;
    height:960px;
    background-color: beige;
    background-image: url("../img/fireplace.jpg");
  background-size:cover;
  background-repeat:no-repeat;

  }

  footer {
    background: darken($backgroundColor, 50);
    border-top: 1px solid #eee;
    padding: 1em 3em;
    margin: 1000;
  }

  header {
    background: darken($backgroundColor, 75);

    color: #eee;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}